### Importaci√≥n de datos

In [12]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

,Producto,Categor√≠a del Producto,Precio,Costo de env√≠o,Fecha de Compra,Vendedor,Lugar de Compra,Calificaci√≥n,M√©todo de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electr√≥nicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogot√°,4,Tarjeta de cr√©dito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medell√≠n,1,Tarjeta de cr√©dito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de cr√©dito,1,10.39972,-75.51444
3,Microondas,Electrodom√©sticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medell√≠n,5,Nequi,1,6.25184,-75.56359

#1. An√°lisis de facturaci√≥n

In [13]:
# Ingreso total por tienda
ingresos = {
    "tienda1": tienda["Precio"].sum(),
    "tienda2": tienda2["Precio"].sum(),
    "tienda3": tienda3["Precio"].sum(),
    "tienda4": tienda4["Precio"].sum(),
}

# Mostrar resultados
for nombre, ingreso in ingresos.items():
    print(f"{nombre}: ${ingreso:,.2f}")

tienda1: $1,150,880,400.00
tienda2: $1,116,343,500.00
tienda3: $1,098,019,600.00
tienda4: $1,038,375,700.00

# 2. Ventas por categor√≠a

In [14]:
# Agrupar por categor√≠a y contar productos vendidos por tienda
categorias_tienda1 = tienda["Categor√≠a del Producto"].value_counts()
categorias_tienda2 = tienda2["Categor√≠a del Producto"].value_counts()
categorias_tienda3 = tienda3["Categor√≠a del Producto"].value_counts()
categorias_tienda4 = tienda4["Categor√≠a del Producto"].value_counts()

# Mostrar los resultados
print("Ventas por categor√≠a - Tienda 1:\n", categorias_tienda1, "\n")
print("Ventas por categor√≠a - Tienda 2:\n", categorias_tienda2, "\n")
print("Ventas por categor√≠a - Tienda 3:\n", categorias_tienda3, "\n")
print("Ventas por categor√≠a - Tienda 4:\n", categorias_tienda4, "\n")

Ventas por categor√≠a - Tienda 1:
 Categor√≠a del Producto
Muebles                    465
Electr√≥nicos               448
Juguetes                   324
Electrodom√©sticos          312
Deportes y diversi√≥n       284
Instrumentos musicales     182
Libros                     173
Art√≠culos para el hogar    171
Name: count, dtype: int64

Ventas por categor√≠a - Tienda 2:
 Categor√≠a del Producto
Muebles                    442
Electr√≥nicos               422
Juguetes                   313
Electrodom√©sticos          305
Deportes y diversi√≥n       275
Instrumentos musicales     224
Libros                     197
Art√≠culos para el hogar    181
Name: count, dtype: int64

Ventas por categor√≠a - Tienda 3:
 Categor√≠a del Producto
Muebles                    499
Electr√≥nicos               451
Juguetes                   315
Electrodom√©sticos          278
Deportes y diversi√≥n       277
Libros                     185
Instrumentos musicales     177
Art√≠culos para el hogar    177
Name: count, dtype: int64

Ventas por categor√≠a - Tienda 4:
 Categor√≠a del Producto
Muebles                    480
Electr√≥nicos               451
Juguetes                   338
Deportes y diversi√≥n       277
Electrodom√©sticos          254
Art√≠culos para el hogar    201
Libros                     187
Instrumentos musicales     170
Name: count, dtype: int64

# 3. Calificaci√≥n promedio de la tienda

In [15]:
# Calcular promedio de calificaciones por tienda
calificaciones = {
    "Tienda 1": tienda["Calificaci√≥n"].mean(),
    "Tienda 2": tienda2["Calificaci√≥n"].mean(),
    "Tienda 3": tienda3["Calificaci√≥n"].mean(),
    "Tienda 4": tienda4["Calificaci√≥n"].mean(),
}

# Mostrar resultados con 2 decimales
for tienda, promedio in calificaciones.items():
    print(f"{tienda}: {promedio:.2f}")

Tienda 1: 3.98
Tienda 2: 4.04
Tienda 3: 4.05
Tienda 4: 4.00

# 4. Productos m√°s y menos vendidos

In [ ]:
# Re-cargar los DataFrame para evitar errores
tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

# Contar productos vendidos por tienda
productos_tienda1 = tienda["Producto"].value_counts()
productos_tienda2 = tienda2["Producto"].value_counts()
productos_tienda3 = tienda3["Producto"].value_counts()
productos_tienda4 = tienda4["Producto"].value_counts()

# Mostrar Top 3 productos m√°s vendidos
print("üîù M√°s vendidos - Tienda 1:\n", productos_tienda1.head(3), "\n")
print("üîù M√°s vendidos - Tienda 2:\n", productos_tienda2.head(3), "\n")
print("üîù M√°s vendidos - Tienda 3:\n", productos_tienda3.head(3), "\n")
print("üîù M√°s vendidos - Tienda 4:\n", productos_tienda4.head(3), "\n")

# Mostrar Bottom 3 productos menos vendidos
print("üîª Menos vendidos - Tienda 1:\n", productos_tienda1.tail(3), "\n")
print("üîª Menos vendidos - Tienda 2:\n", productos_tienda2.tail(3), "\n")
print("üîª Menos vendidos - Tienda 3:\n", productos_tienda3.tail(3), "\n")
print("üîª Menos vendidos - Tienda 4:\n", productos_tienda4.tail(3), "\n")

üîù M√°s vendidos - Tienda 1:
 Producto
Microondas       60
TV LED UHD 4K    60
Armario          60
Name: count, dtype: int64

üîù M√°s vendidos - Tienda 2:
 Producto
Iniciando en programaci√≥n    65
Microondas                   62
Bater√≠a                      61
Name: count, dtype: int64

üîù M√°s vendidos - Tienda 3:
 Producto
Kit de bancas      57
Mesa de comedor    56
Cama king          56
Name: count, dtype: int64

üîù M√°s vendidos - Tienda 4:
 Producto
Cama box                   62
Cuberter√≠a                 59
Dashboards con Power BI    56
Name: count, dtype: int64

üîª Menos vendidos - Tienda 1:
 Producto
Olla de presi√≥n              35
Auriculares con micr√≥fono    33
Celular ABXY                 33
Name: count, dtype: int64

üîª Menos vendidos - Tienda 2:
 Producto
Mesa de comedor    34
Impresora          34
Juego de mesa      32
Name: count, dtype: int64

üîª Menos vendidos - Tienda 3:
 Producto
Mochila                    36
Microondas                 36
Bloques de construcci√≥n    35
Name: count, dtype: int64

üîª Menos vendidos - Tienda 4:
 Producto
Guitarra ac√∫stica     37
Armario               34
Guitarra el√©ctrica    33
Name: count, dtype: int64

# 5. Env√≠o promedio por tienda